REACT_APP_MOVIE = "https://imdb-api.com/en/API/Search/k_09why52e/"
IMG_API = "https://api.themoviedb.org/3/configuration?api_key={YOUR_API_KEY}"
TREND_API = "https://api.themoviedb.org/3/trending/all/day?api_key={YOUR_API_KEY}"
POPULAR_API = "https://api.themoviedb.org/3/discover/movie?api_key={YOUR_API_KEY}&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=1"
SEARCH_API = "https://api.themoviedb.org/3/search/movie?api_key=&query={YOUR_API_KEY}"